[submodule "extern/simdjson"]
	path = extern/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "extern/CSharp.lua"]
	path = extern/CSharp.lua
	url = https://github.com/yanghuan/CSharp.lua.git
[submodule "extern/boolinq"]
	path = extern/boolinq
	url = https://github.com/k06a/boolinq.git
[submodule "extern/skse-menu-framework-2"]
	path = extern/skse-menu-framework-2
	url = https://github.com/Thiago099/SKSE-Menu-Framework-2.git
